<div class="quick-view-parent">
	<div class="quick-view-overlay"></div>
	<div class="quick_inner">
		<a href="#" class="close_quick_btn js-no-transition">
			{% include 'close-btn' %}
		</a>
		<div class="quick_content">
			<div class="quick_image_content"></div>
			<div class="quick_content_inner"></div>
		</div>
	</div>
</div>