<section class="career-main">
  <div class="container">
    <div class="career-content-wrapper">
      <p class="career-title-text">Complete Nutrition is an ever evolving online supplement retailer 
      looking for talented individuals to join us in our mission to exceed product and customer needs. 
      Below is a list of open positions. Browse a position below, <a href="#submit-resume">submit your resume</a>, or <a href="#download-resume">download an application</a> 
      to bring to your local Complete Nutrition store.</p>
      <div class="table">
        <table>
          <tbody>
            <tr>
              <th>Position</th>
              <th>Location</th>
            </tr>
            <tr>
              <td>Nutrition Consultant</td>
              <td>Columbus, GA</td>
            </tr>
            <tr>
              <td>Product Regulatory Specialist</td>
              <td>Omaha, NE</td>
            </tr>
            <tr>
              <td>Fitness Consultant</td>
              <td>Madison, WI</td>
            </tr>
            <tr>
              <td>Fitness Consultant</td>
              <td>Columbia, MO</td>
            </tr>
            <tr>
              <td>Sales Consultant</td>
              <td>College Station, TX</td>
            </tr>
            <tr>
              <td>Assistent Store Manager</td>
              <td>Rapid City, SD</td>
            </tr>
            <tr>
              <td>Retail Sales Consultant</td>
              <td>Madison, WI</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Position and Location",
    "settings": [
      {
        "type": "text",
        "id": "title_text",
        "label": "Position and Location Title"
      }
    ]
  }
{% endschema %}