<section class="privacy-wrapper">
  <div class="container">
    <div class="privacy-content-wrapper">
      <div class="privacy-main-content">
        <div class="privacy-main-aside">
          <span class="privacy-first-link"> {{ section.settings.side_title_first }} </span>
          <a class="privacy-second-link" href="{{ section.settings.side_link_second }}"> {{ section.settings.side_title_second }} </a>
        </div>
        <div class="privacy-main">
          {{page.content}}
        </div>
      </div>
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Term of Use Side",
    "settings": [
      {
        "type": "text",
        "id": "side_title_first",
        "default": "Term of Use",
        "label": "Term of Use"
      },
      {
        "type": "url",
        "id": "side_link_first",
        "label": "Term of Use Link"
      },
      {
        "type": "text",
        "id": "side_title_second",
        "default": "Privacy Policy",
        "label": "Privacy Policy"
      },
      {
        "id": "side_link_second",
        "type": "url",
        "label": "Privacy Policy Link"
      }
    ]
  }
{% endschema %}